body 
{
    margin:0%;
    padding: 0%;
    overflow-x: hidden;
}
.menu 
{
    font-size: 18px;
    outline: none !important;
    border: none;
    background-color:  #0b6e9c;
    color: white !important;
    border-radius: 3px;
}
.text-color-style
{
    color:  #0b6e9c;

}
.xx 
{
    font-size: 20px;
    padding: 6px;
}

button 
{
    outline: none;
}
.nav-link , .navbar-brand 
{
    font-weight: 700;
    color: white !important;
    transition: all 0.4s;
}
.nav-link:hover 
{
    color: rgb(206, 206, 206) !important;
}
.cartGroup:hover 
{
    cursor: pointer;
}

.hover-a:hover 
{
    text-decoration: underline;
}
.left 
{

direction: ltr;
}
.right 
{
    direction: ltr;
}
.styledirection 
{
    direction: rtl;
}

@media screen and (min-width:992px) {
    .menu
    {
        display: none;
    }
}
::placeholder 
{
    color: black;
}

@media screen and (min-width:0px) and (max-width:991px) {
    .w-style 
{
    width: 100% !important;
}
    .showLeft 
    {
        position: absolute;
        left: -100%;
        top: 100%;
        background-color:  rgba(0, 0, 0, 0.9);
        color: white ;
        padding: 15px;
        height: 100vh;
        width: 100%;

    }
    
   
    .nav-link 
    {
        color: white !important;
    }
    
    a 
    {
        color: white !important;
    }
   
    
    form 
    {
        width: 45%;
        margin-inline:auto;

    }
   .navbar-nav  
   {
    justify-content: space-around;
    height: 75%;
   }
   
}

/* --------------------------- */

.imagestyle 
{
    transition: all 0.3s;
}

.imagestyle:hover 
{
    transform: scale(1.2);
}
.out 
{
    overflow: hidden;
    cursor: pointer;
}
.position-style 
{
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    border: white solid 2px;
}
input:focus 
{
    outline: none ;
}
input 
{
    width: 100%;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 20px;
    color: black;
    padding-block: 8px ;
    padding-inline: 15px ;

}
.bg-color 
{
    background-color:  #0b6e9c;

}
a 
{
    color: black ;
    text-decoration: none;
    font-weight: 700;
}
form 
{
    width: 40%;
    margin-inline-start: 10%;
}


footer 
{
    background-color: rgb(0, 0, 22);
    align-items: center;
}



.box 
{
    background-color: whitesmoke;
}
.btn-cart , #buyAll
{
    border: rgb(0, 0, 41) 2px solid;
    color: rgb(0, 0, 41) !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    transition: all 0.5s;
}
.btn-cart:hover ,#buyAll:hover
{
    color: white !important;
    background-color: rgb(0, 0, 41);
    cursor: pointer;

}

#cartComponenet 
{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 55555555555555555555;

    
}
.bg-search 
{
    position: fixed;
    height: 100vh;
    left: 0%;
    top: 0%;
    z-index: 777;
}
.position-x-style 
{
    position: fixed;
    top: 3%;
    right: 3%;
    z-index: 6666666666666666666666;
    font-size: 40px;
    color: gray;
    transition: all 0.3s;
}
.position-x-style:hover 
{
    color: rgb(0, 0, 0);
    cursor: pointer;
}


#cartButton:hover
{
    cursor: pointer;
}

.position-arrow-style
{
    position: fixed;
    right: 2%;
    top: 90%;
    color: white;
    border: white solid 1px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
 
}

.position-arrow-style:hover 
{
    cursor: pointer;
    color: rgb(197, 197, 197);

}



.number-style 
{
    width: 30px;
    height: 35px;
}



#addSuccess 
{
    background-color: white;
    color:  rgb(13, 110, 13);
    width: 100%;
    position: fixed;
    z-index: 55555555555555555555555555555555555555555555555555555;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
}

#buyDone{
    background-color: white;
    color:  rgb(13, 110, 13);
    padding-block: 10px;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 5555555555555555555555555555555555555555555555555555599999999999999999999999999999999999999;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
}

#deleteSuccess
{
    background-color: white;
    color: red;
    width: 100%;
    position: fixed;
    z-index: 55555555555555555555555555555555555555555555555555555;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
}
.overflow-hidden 
{
    overflow: hidden;
}

.overflow-auto 
{
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}


/*Card containing 2 cards*/
.card0 {
	margin: 40px 12px 15px 12px;
	border: 0;
}

/*Left Side card*/
.card1 {
	margin: 0;
	padding: 15px;
	padding-top: 25px;
	padding-bottom: 0px;
	background: #263238;
	height: 100%;
}

.bill-head {
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 30px;
}

.line {
	border-right: 1px grey solid;
}

.bill-date {
	color: #BDBDBD;
}

.red-bg {
	margin-top: 25px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #F44336;
	padding-left: 20px !important;
	padding: 25px 10px 25px 15px;
}

#total {
	margin-top: 0px;
	padding-left: 7px;
}

#total-label {
	margin-bottom: 0px;
	color: #ffffff;
	padding-left: 7px;
}

#heading1 {
	color: #ffffff;
	font-size: 20px;
	padding-left: 10px;
}

#heading2 {
	font-size: 27px;
	color: #D50000;
}

/*For font-awesome icons in Placeholder*/
.placeicon {
	font-family: fontawesome !important;
}

/*Right Side Card*/
.card2 {
	padding: 25px;
	margin: 0;
	height: 100%;
}

.form-card .pay {
	font-weight: bold;
}

.form-card input, .form-card textarea {
    padding: 10px 8px 10px 8px;
    border: none;
    border: 1px solid lightgrey;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

.form-card input:focus, .form-card textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border: 1px solid gray;
    outline-width: 0;
}

.btn-info {
	color: #ffffff !important;
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display:inline-block;
    width: 204;
    height: 64;
    border-radius: 0;
    background: lightblue;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    cursor:pointer;
    margin: 8px 25px 8px 0px; 
}

.radio:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.radio.selected {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}

.payment 
{
    position: fixed;
    left: 50%;
    top: 0%;
    bottom: 0%;
    right: 0%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
}

.form-card 
{
    width: 50%;
    margin: auto;
}

.w-style 
{
    width: 50%;
}

